#contact {
    background-color: #444;
    text-align: center;
    height: 400px;
    color: white;
    padding: 30px 10vw;
}

#contact-content {
    position: relative;
}

#contact input {
    margin: 0;
    width: 50%;
    height: 2em;
    padding: 0 0.7em;
}

#contact input[type="submit"] {
    height: 3em;
    border: 0; 
}

#contact textarea {
    margin: 0;
    width: 50%;
    height: 10em;
    padding: 0.2em 0.7em;
    resize: none;
}

#copy {
    padding: 8px 0 8px 10vw;
    color: white;
    background-color: #0089c9;
}