#header-content {
    padding: 0 40px;
}

#header-logo {
    padding: 40px 0;
}

.logo-img-container {
    display: inline-block;
}

.logo-text-container {
    display: inline-block;
}

#header-logo-img {
    max-height: 100%;
}

.navigation {    
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
}

.navigation-item {
    display: inline-block;
    margin: 0 1.3em 0 0;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
}

.navigation-item:hover {
    padding-bottom: 16px;
    border-bottom: 4px solid blue;
}

#sign-up, #sign-in {
    transform: translateY(-25%);
}

#sign-up:hover, #sign-in:hover {
    border-bottom: 0;
}