/* Banner */
#home-content .main-banner {
    width: 100%;
    padding: 80px 0;
    background-image: url(../images/home/banner.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.main-banner-content {
    padding: 40px 0;
    background-color: rgba(255,255,255,0.7);
    transition: 1s;
}

.main-banner-content:hover {
    background-color: rgba(255,255,255,1);
    transition: 1s;
}

.main-banner-content > span {
    display: block; 
    color: #0089c9;
    font-size: 65px;
    text-shadow: 2px 1px #303030;  
    margin-bottom: 5px;
}

.main-banner-content > h3 {
    display: block; 
    color: #0089c9;
    text-shadow: 1px 1px #303030;    
    margin-bottom: 15px;
}

.main-banner-content .third-wide {
    padding-top: 30px;  
    border-right: 1px solid black;
}

.main-banner-content .third-wide:last-child {
    border: 0;
}

.main-banner-content .third-wide h3 {
    margin-bottom: 7px;
}

.main-banner-content .third-wide button {
    margin-top: 25px;
}


/* Recent blog articles */
#recent-blog .section-title {
    color: #0089c9;
    text-shadow: 1px 1px #000;
    margin: 30px 0;
}


#recent-blog .section-content {
    padding: 0 10vw 20px 10vw;
}

article {
    padding: 20px 40px;
}

article .article-img {
    width: 100%;
    overflow: hidden;
}

article .article-img img {
    width: 100%;
    -moz-transition:-moz-transform 0.25s ease-in; 
    -webkit-transition:-webkit-transform 0.25s ease-in; 
    -o-transition:-o-transform 0.25s ease-in;
}

article .article-img img:hover {
    -moz-transform:scale(1.05); 
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
}

.article-title {
    color: #0089c9;
    text-shadow: 1px 1px #000;
    margin: 10px 0 20px 0;
}

.article-content {
    display: block;
    margin-bottom: 20px;
}

#recent-blog .btn-big {
    margin-bottom: 30px;
}